# R
.Rproj.user
.Rhistory
.RData
.Ruserdata

# MacOS
.DS_Store

# Python venv
.venv

# data
data/raw/air_quality.csv
data/processed/
data/tw_named.json

# latex
notes/**/*.aux
notes/**/*.fdb_latexmk
notes/**/*.fls
notes/**/*.log
notes/**/*.out
notes/**/*.synctex.gz
notes/**/*.synctex(busy)
notes/**/*.pdf
notes/**/*.toc
notes/**/*.snm
notes/**/*.nav